@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
     background-color: #0000;
     margin: 0;
     padding: 0;
     color: #0C77FF;
	 font:100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #00EDFF;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #FFF600;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 300px;
	
}
.nav {
	background: #00EDFF;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFF;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #FFF6;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
